  
/*------------------
-----Reset css------
----------------- */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/*------------------
-----Variabler-----
----------------- */

/* Farver */
:root {
    --turkis: #A7D0E6;
    --sand: #F7ECD0;
    --lyserød: #DDCBC9;
    --orange: #F69C3B;
    --grøn: #007458;
    --grå: #627A7F;
    --hvid: #FFFFFF;
    --sort: #000000;
    --lysturkis: #BFEAED
  }

/*farver, som kan bruges på forskellige fonte*/
.grøn{
  color: var(--grøn);
}

.turkis{
  color: var(--turkis);
}

.orange{
  color: var(--orange);
}


/* Classes som kan genbruges */
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  h3 {
    padding-top: 10px;
  }

  .overskrift{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 4.5dvw;
  }

  .prik{
    color: var(--orange);
  }

  .under_overskrift{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2dvw;
  }


  .hero-skrift {
    position: absolute;
    top:6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .broedtekst{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.8dvw;
  }


  
  /* Font family */
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  
    /* Denne lille kommando sørger for at man ikke kan overstrege noget på siderne */
    user-select: none;
  }


/*------------------
-------Header-------
----------------- */


/*------------------
--------Main--------
----------------- */

/*-----------------------------------------Loading side-----------------------------------------------------*/
.loading_wrapper{
  width: 100%;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#loading_ol{
  height: 60dvh;
}



/*---------------------------------------------forside---------------------------------------------------------*/
.forside_body{
  background-color: var(--turkis);
  user-select: none;
  overflow: hidden;
}

/*gitteret i baggrunden*/
#gitter{
  width: 100%;
  object-fit: fill;
}

/*kork brættet i baggrunden*/
.kork{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60dvw;
  height: 35dvw;
  background-repeat: no-repeat;
  background-size:cover;

  background-image: url(../img/Forside/korkbræt.png);
}

/* den div alle ting på tavlen positionere sig efter*/
.kork_wrapper{
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/*de individuelle polaroid billeder*/
#polaroid1{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 40%;
  left: 10%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid1:hover{
  rotate: -5deg;
  scale: 1.2;
}

#polaroid2{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 30%;
  left: 30%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}
/*hover animation*/
#polaroid2:hover{
  rotate: 5deg;
  scale: 1.2;
}

#polaroid3{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 40%;
  left: 50%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid3:hover{
  rotate: 5deg;
  scale: 1.2;
}

#polaroid4{
  width: 11dvw;
  height: auto;

  position: absolute;
  top: 30%;
  left: 70%;


  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid4:hover{
  rotate: -5deg;
  scale: 1.2;
}

#polaroid-animation{
  width: 100%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1111;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

#polaroid-logo{
  width: 8dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 10%;
}

/* bordet og de ting der er på det*/
#bord{
position: absolute;
bottom: 0px;
left: 0px;
width: 100dvw;
height: 15dvh;
}

#blyanter{
  width: 10dvw;
  height: auto;

  position: absolute;
  bottom: 10%;
  left: 25%;
}

#grammofon{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 10%;
  right: 30%;
}

#portrat{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 5%;
  right: 12%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

#navneskilt{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 0%;
  right: 20%;
}

#lookbook{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 85%;
  left: 40%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/* væggen i venstre side*/
#plakat{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 2%;
}

#skilt{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 50%;
  left: 2%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}


/* væggen i højre side*/

#abningstider{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 85%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

#hylde{
  width: 18dvw;
  height: auto;

  position: absolute;
  top: 53%;
  right: 0%;

  /* animation */
  transition: all 1s ease-in-out;
}

#rubiks{
  width: 9dvw;
  height: auto;

  position: absolute;
  top: 36%;
  right: 4%;

}

.facebook{
  cursor: pointer;
}

.linkedin{
  cursor: pointer;
}

.telefon{
  cursor: pointer;
}

.carhart{
  cursor: pointer;
}

.wwf{
  cursor: pointer;
}

.instagram{
  cursor: pointer;
}

.soundcloud{
  cursor: pointer;
}

.youtube{
  cursor: pointer;
}

.patagonia{
  cursor: pointer;
}



/* computer med video i*/
.computer_wrapper{
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 83dvh;
  left: 20%;
  transform: translate(-50%, -50%);

  z-index: 0;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
} 

.computer_wrapper_animation{
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}


#skærm{
  width: 15dvw;
  height: auto;

  position: relative;
  bottom: 5%;
  left: 15%;

    /* animation */
    transition: all 1s ease-in-out;
}

#forside-video{
  width: 8dvw;
  height: 6dvw;
  object-fit: cover;

  /* positioneret den i midten af skærmen */
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translate(-50%, -50%);

    /* animation */
    transition: all 1s ease-in-out;
}


/* styling der skal bruges når man trykker på ting der skal forstørres */
#forside-zoom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  width: 55dvw;

  /* animaiton */
  transition: all 1s ease-in-out;
}

/*---------------------------------------------Klædeksab------------------------------------------------------*/
header{
  display: flex;
  padding: 3dvh;
}

.logo-knap{
  width: 10dvh;
}

.klade-body{
  width: 100%;
  height: 100%;

  overflow: hidden;

  user-select: none;

}

.kladeskab-baggrund{
  position: absolute;
  top: 0px;
  left: 0px;

  object-fit: fill;
  width: 100%;
  height: 100dvh;
  z-index: -11;
}

/* plakat med pris */
#total-pris{
  position: absolute;
  right: 6dvw;
  bottom: 6dvw;
  rotate: -12deg;
  padding: 40px 20px;


  background-color: #E2E1E5;
  border: #FFFFFF 1px solid;
}

.onboarding1{
  position: absolute;
  right: 6dvw;
  top: 33vh;
  width: 15dvw;
}

.onboarding2{
  position: absolute;
  left: 4dvw;
  top: 33vh;
  width: 15dvw;
}

.onboarding3{
  position: absolute;
  left: 4dvw;
  bottom: 5dvh;
  width: 12dvw;
}

/*random knap*/
#random{
  position: absolute;
  top: 12dvw;
  right: 8dvw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#FC7704, #FC7704, #FC7704, #D46200);
  border-radius: 20px;
  padding: 8px;
  overflow: visible;
  cursor: pointer;

  color: #BFEAED;
}

.toj_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1dvw;
  height: fit-content;
}

/* små ikoner*/
.small_icons{
  width: 2dvw;
}


/*selve outfit generatoren*/
#outfit-generator{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1dvw;


  width: 100%;
  padding: 0px 0px;

}

#outfit-generator img{
  cursor: pointer;
  border-radius: 50%;
  overflow: visible;

  transition: all 1s ease-in-out;
  object-fit: contain;
  aspect-ratio: 1/1;

  background-size: 0% 0%;
  background-position: center;
  border-radius: 50%;
  scale: 1;
  
}

.toj{
height: 20dvh;
}

.lille_toj{
  height: 10dvh;
}

#outfit-generator img:hover{
	animation: gradient 12s ease infinite;
  background: linear-gradient( -45deg, #DDC7C9, #BDD8DD, #F99E38);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  scale: 1.1;
  
  
  overflow: visible;
}

@keyframes gradient {
	0% {
    border-radius: 30% 70% 70% 30% / 30% 70% 30% 70% ;
	}
	25% {
    border-radius: 73% 27% 78% 22% / 89% 70% 30% 11% ;
	}
  75% {
    border-radius: 89% 11% 48% 52% / 15% 85% 15% 85% ;
	}
	100% {
    border-radius: 30% 70% 70% 30% / 30% 70% 30% 70%  ;
	}
}

/*----------------------------------------Paa tur------------------------------------------------*/

/*når brødteksten er i højre side*/
.paatur_body{
  background-color: var(--sand);
  width: 100%;
}

.paatur_body main{
  background-color: var(--sand);
}

.paatur_main{
  display: flex;
  flex-direction: column;
  gap: 2dvw;
}

.paatur_tyskland_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}

.paatur_tyskland_wrapper div{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.paatur_tyskland_wrapper div div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}


#paatur_varevogn{
  width: 40dvw;
  float: left;
}

.paatur_polaroids{
  width: 15dvw;
}

.paatur_billeder_ovenpå_hinanden{
  position: relative;
}

/* vej med bil*/
#paatur_vej{
  position: absolute;
  right: 2dvw;
  top: 300px;

  height: 800px;
  width: 2dvw;

  background-color: gray;
}

#paatur_bil_scroll{
  position: fixed;
  right: 2dvw;
  top: 300px;

  width: 40px;
  rotate: -90deg;
}


/* billeder der stables ovenpåå hinanden*/
#paatur_polaroid1{

}

#paatur_polaroid2{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




/*-------------------------------------------------Bar---------------------------------------------------- */

/* -----baggrund -----*/

#baroverskrift {
  color: var(--orange);
  position: relative;
  align-self: center;
}

.barbaggrund {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: var(--lysturkis);
  z-index: -1;
  overflow: hidden;
}
.fliser {
  height: 70vh;
}
.fliser img {
  align-self: baseline;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.barelements {
  z-index: 2;
}
.skranke {
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 70%;
  z-index: 1;
  overflow: hidden;
}
.skranke img {
  width: 100vw;
  height: auto;
}

.ol {
  width: 1vw;
  height: auto;
  position: absolute;
  left: 12%;
  top: 57%;
  z-index: 2;
}
.ol img {
  width: 8vw;
  height: auto;
}

.barbillede {
  width: 10vw;
  height: auto;
  position: absolute;
  height: auto;
  left: 22%;
  top: 83%;
  z-index: 2;
}

.barbillede img  {
  width: 12vw;
  height: auto;
}

.barsscreen {
    position: absolute;
    height: auto;
    left: 45%;
    top: 68%;
    z-index: 2;
  }

  .barsscreen img {
    width: 13vw;
    height: auto;
  }

.businesscards {
  position: absolute;
    height: auto;
    left: 50%;
    top: 90%;
    z-index: 2;
}
.businesscards img {
  width: 16vw;
  height: auto;
}

.gavekort {
  position: absolute;
    height: auto;
    left: 64%;
    top: 93%;
    z-index: 2;
}

.gavekort img {
  width: 9vw;
  height: auto;
}


.artby {
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  position: absolute;
  left: 75%;
  top: 84.5%;
  z-index: 2;
}

.artby img {
  width: 6vw;
}
.barkopper {
  height: 8vh;
  width: 6vw;
  z-index: 2;
}


.barplante {
  position: absolute;
    height: auto;
    left: 82%;
    top: 56%;
    z-index: 2;
}
.barplante img {
  width: 12vw; 
  height: auto;
}

.køleskab {
  position: absolute;
  height: auto;
  left: 1%;
  top: 18%;
  z-index: 0;
}

.koleskab img {
  width: 22vw;
  height: auto;
}

.barskilt img {
  position: absolute;
  height: auto;
  left: 23%;
  top: 20%;
  z-index: 0;
  width: 14vw;
  height: auto;
}
.olpriser img {
  position: absolute;
  height: auto;
  left: 38%;
  top: 20%;
  z-index: 0;
  width: 17vw;
  height: auto;
}
.kaffepriser img {
  position: absolute;
  height: auto;
  left: 60%;
  top: 20%;
  z-index: 0;
  width: 17vw;
  height: auto;
}

.vindue {
  width: 5vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);;
  border-left: solid 1vw #794A3A;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}






/*------------------------------------------Vores værdier--------------------------------------------*/




/*------------------------------------------404-side--------------------------------------------*/
.not_bord{
position: absolute;
bottom: 0px;
left: 0px;
}

#not_ol{
  z-index: 111;
  width: 6dvw;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not_fustage_wrapper{
  position: absolute;
  z-index: 222;
  bottom: 10%;
  left: 22%;


  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
}

.not_fustage_inner_wrapper{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: fit-content;
}

#fustage{
  z-index: 222;
  bottom: 10%;
  left: 31.5%;

  width: 30dvw;
}

#tap{
  position: absolute;

  bottom: 80%;
  right: 2%;

  width: 3dvw;
}

#not_tekst{
  position: absolute;
  top: 37%;
  left: 70%;
  transform: translate(-50%, -50%);


}

#not_vaske{
  background-color: #FAC900;
  position: absolute;
  left: 49.9%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 150;

  width: 0.6dvw;
  height: 2dvw;
}


/*-------------------------------------------------Mød Os---------------------------------------------------- */

/* -----baggrund -----*/


.modos-bagrund {
  background-color: var(--turkis);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.ramme-gitter {
  width: 100vw;
  height: 100vh;
}

.ramme-bord {
  position: absolute;
  top: 50%;
  left: -15%;
  width: 120vw;
  height: 75vh;
}

/* -----Billedramme -----*/

.billederamme img {
  
  position: absolute;
  top: -10%;
  left: 16%;
  width: 68vw;
  height: auto;

}

.skygge img {
  position: absolute;
  top: 67.8vh;
  left: 79.8vw;
  width: 11vw;
  height: 28vh;
}

/* -----Billederamme-content -----*/

.modos {
  color: var(--orange);
  font-family: "Spicy Rice", serif;;
  font-weight: 300;
  font-size: 8vw;
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: 10;
}

.ramme-hello img {
  position: absolute;
  width: 68vw;
  height: auto;
  z-index: 5;
}


.kortestreger {
  position: absolute;
  right: 23%;
  top: 90%;
}
.kortestreger img {
  z-index: 8;
  width: 20vw;
  height: auto;
  z-index: 4;
}

p {
  font-family: "Roboto", sans-serif;
  z-index: 7;
}

.ramme-hej {
  color: #68C7C1;
  font-family: "Paytone One", sans-serif;
  font-size: 9rem;
  z-index: 8;
  position: absolute;
  left: 5%;
  top: 68%;
  font-weight: 400;
}

.ramme-vi-er {
  color: #794A3A;
  font-family: "Paytone One", sans-serif;
  font-size: 1.6vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 96%;
  font-weight: 400;
}

.ramme-duo {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 104%;
  font-weight: 400;
  width: 30vw;
  line-height: 30px;
}

.godmorgenpola img {
  position: absolute;
  left: 60%;
  top: 100%;
  width: 30vw;
  height: auto;
}

.bondeheader {
  color: var(--orange);
  font-family: "Paytone One", sans-serif;
  font-size: 3.8vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 160%;
  font-weight: 400;
}

.smilepole img {
  position: absolute;
  left: 75%;
  top: 165%;
  width: 20vw;
  height: auto;
}

.bondetekst {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 175%;
  font-weight: 400;
  width: 26vw;
  line-height: 30px;
}

.sludder {
  color: #794A3A;
  font-family: "Paytone One", sans-serif;
  font-size: 4vw;
  z-index: 8;
  position: absolute;
  left: 50%;
  top: 230%;
  font-weight: 400;
  width: 30vw;
}

.hyggeibar {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.hyggeibar img {
  position: absolute;
  left: 0%;
  top: 230%;
  width: 25vw;
  height: auto;
  z-index: 6;
  
}

.sluddertekst {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  z-index: 8;
  position: absolute;
  left: 50%;
  top: 260%;
  font-weight: 400;
  width: 25vw;
  line-height: 30px;
}



.langestreger img {
  position: absolute;
  top: 215%;
  left: 0;
  width: 10vw;
  height: auto;
  z-index: 5;
}


.ramme-hello {
  position: absolute;
  top: -24.5%;
  left: -20%;
  height: auto;
}

.ramme-hello img {
  width: 63.6vw;
  height: auto;
}

.billederamme-container {
  background-color: var(--sand);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 54vw;
  height: auto;
  top: 12.4%;
  left: 23%;
  overflow: scroll;
  justify-content: space-between;
}

.relativramme {
  background-color: var(--sand);
  position: relative;
  width: 48vw;
  height: 75vh;
}

.modos {
  position: absolute;
  top: 3%;
  left: 38%;
  font-size: 5.5rem;
  overflow: hidden;
}

.modosbody {
  overflow: hidden;
}



/*------------------
-------Footer-------
----------------- */


/*------------------
---Media queries----
----------------- */

@media only screen and (max-width: 1200px) {
  /*------------------
  ------Forside-------
  ----------------- */

  /* her ændres baggrundsgitteret så det passer på telefonen*/
  #gitter{
    height: 100dvh;
    object-fit: cover;
  }

  /*Så computeren passer på alle skærmstørrelser*/
  .computer_wrapper{
    width: fit-content;
    height: fit-content;
  
    position: absolute;
    top: 85dvh;
    left: 20%;
    transform: translate(-50%, -50%);
  
    z-index: 0;
  
      /* animation */
      transition: all 1s ease-in-out;
  } 

  .computer_wrapper_animation{
    width: fit-content;
    height: fit-content;
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    z-index: 1000;
  
    /* animation */
    transition: all 1s ease-in-out;
  }

}