  
/*------------------
-----Reset css------
----------------- */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

/*------------------
-----Variabler-----
----------------- */

/* Farver */
:root {
    --turkis: #A7D0E6;
    --sand: #F7ECD0;
    --lyserød: #DDCBC9;
    --orange: #F69C3B;
    --grøn: #007458;
    --grå: #627A7F;
    --hvid: #FFFFFF;
    --sort: #000000;
    --lysturkis: #BFEAED
  }

/*farver, som kan bruges på forskellige fonte*/
.grøn{
  color: var(--grøn);
}

.turkis{
  color: var(--turkis);
}

.orange{
  color: var(--orange);
}


/* Classes som kan genbruges */
  h1 {
    font-size: 3rem;
  }
  
  h2 {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  h3 {
    padding-top: 10px;
  }

  .overskrift{
    font-family: "Spicy Rice", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 4.5dvw;
  }

  .prik{
    color: var(--orange);
  }

  .under_overskrift{
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 2dvw;
  }


  .hero-skrift {
    position: absolute;
    top:6%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .broedtekst{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: 30px;
    font-size: 1dvw;
  }

  .vardier_broedtekst{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height:normal;
    font-size: 1dvw;
  }

  
  /* Font family */
  body { 
    /* Denne lille kommando sørger for at man ikke kan overstrege noget på siderne */
    user-select: none;
  }

  .body_wrapper_hidden{
    overflow-x:hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }

  .body_wrapper_hidden_both{
    overflow:hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
  }


/*------------------
-------Header-------
----------------- */
header{
  position: fixed;
  z-index: 2222;
  left: 0;
  top: 0;
  display: flex;
  padding: 3dvh;
}

/*------------------
--------Main--------
----------------- */

/*-----------------------------------------Loading side-----------------------------------------------------*/
.loading_wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 333;

  position: fixed;
  top: 0%;
  left: 0%;
  opacity: 1;

  background-color: var(--turkis);
}

#loading_ol{
  height: 60dvh;
}



/*---------------------------------------------forside---------------------------------------------------------*/
.forside_body{
  background-color: var(--turkis);
  user-select: none;
  overflow: hidden;
}

/*gitteret i baggrunden*/
#gitter{
  width: 100dvw;
  object-fit: cover;
}

/*kork brættet i baggrunden*/
.kork{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60dvw;
  height: 35dvw;
  background-repeat: no-repeat;
  background-size:cover;
  scale: 1;

  background-image: url(../img/Forside/korkbræt.png);
}

/* den div alle ting på tavlen positionere sig efter*/
.kork_wrapper{
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


/*de individuelle polaroid billeder*/
#polaroid1{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 40%;
  left: 10%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid1:hover{
  rotate: -5deg;
  scale: 1.2;
}

#polaroid2{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 30%;
  left: 30%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}
/*hover animation*/
#polaroid2:hover{
  rotate: 5deg;
  scale: 1.2;
}

#polaroid3{
  width: 10dvw;
  height: auto;

  position: absolute;
  top: 40%;
  left: 50%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid3:hover{
  rotate: 5deg;
  scale: 1.2;
}

#polaroid4{
  width: 11dvw;
  height: auto;

  position: absolute;
  top: 30%;
  left: 70%;


  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/*hover animation*/
#polaroid4:hover{
  rotate: -5deg;
  scale: 1.2;
}

#polaroid-animation{
  width: 100%;
  height: auto;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1111;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

#polaroid-logo{
  width: 8dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 10%;
}

/* bordet og de ting der er på det*/
#bord{
position: absolute;
bottom: 0px;
left: 0px;
width: 100dvw;
height: 15dvh;
}

#blyanter{
  width: 10dvw;
  height: auto;

  position: absolute;
  bottom: 10%;
  left: 25%;
}

#grammofon{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 10%;
  right: 30%;
}

#portrat{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 5%;
  right: 12%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

#navneskilt{
  width: 15dvw;
  height: auto;

  position: absolute;
  bottom: 0%;
  right: 20%;
}

#lookbook{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 85%;
  left: 40%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

/* væggen i venstre side*/
#plakat{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 2%;
}

#skilt{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 50%;
  left: 2%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}


/* væggen i højre side*/

#abningstider{
  width: 13dvw;
  height: auto;

  position: absolute;
  top: 10%;
  left: 85%;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}

.forside_some{
  position: absolute;
  top: 36%;
  right: 0%;

  height: 20dvw;
  width: 20dvw;
  z-index: 0;
}

#hylde{
  width: 18dvw;
  height: auto;

  position: absolute;
  top: 51%;
  right: 0%;

  /* animation */
  transition: all 1s ease-in-out;
}

#rubiks{
  width: 9dvw;
  height: auto;

  position: absolute;
  top: 10%;
  right: 20%;


}

.facebook{
  cursor: pointer;
}

.linkedin{
  cursor: pointer;
}

.telefon{
  cursor: pointer;
}

.carhart{
  cursor: pointer;
}

.wwf{
  cursor: pointer;
}

.instagram{
  cursor: pointer;
}

.soundcloud{
  cursor: pointer;
}

.youtube{
  cursor: pointer;
}

.patagonia{
  cursor: pointer;
}

/* computer med video i*/
.computer_wrapper{
  top: 83dvh;

  width: fit-content;
  height: fit-content;
  
  position: absolute;
  top: 85dvh;
  left: 20%;
  transform: translate(-50%, -50%);
  
  z-index: 0;
  
  /* animation */
  transition: all 1s ease-in-out;
} 

.computer_wrapper_animation{
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 1000;

  /* animation */
  transition: all 1s ease-in-out;

  /*musen ændre sig når man hover*/
  cursor: pointer;
}


#skærm{
  width: 15dvw;
  height: auto;

  position: relative;
  bottom: 5%;
  left: 15%;

    /* animation */
    transition: all 1s ease-in-out;
}

#forside-video{
  width: 8dvw;
  height: 6dvw;
  object-fit: cover;

  /* positioneret den i midten af skærmen */
  position: absolute;
  top: 25%;
  left: 52%;
  transform: translate(-50%, -50%);

    /* animation */
    transition: all 1s ease-in-out;
}


/* styling der skal bruges når man trykker på ting der skal forstørres */
#forside-zoom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  width: 55dvw;

  /* animaiton */
  transition: all 1s ease-in-out;
}

/*---------------------------------------------Klædeksab------------------------------------------------------*/
.logo-knap{
  width: 10dvh;
}

.klade-body{
  width: 100%;
  height: 100%;

  overflow: hidden;

  user-select: none;

}

.kladeskab-baggrund{
  position: absolute;
  top: 0px;
  left: 0px;

  object-fit: fill;
  width: 100%;
  height: 100dvh;
  z-index: -11;
}

/* plakat med pris */
#total-pris{
  position: absolute;
  right: 6dvw;
  bottom: 6dvw;
  rotate: -12deg;
  padding: 40px 20px;


  background-color: #E2E1E5;
  border: #FFFFFF 1px solid;
}

.onboarding1{
  position: absolute;
  right: 6dvw;
  top: 33vh;
  width: 15dvw;
}

.onboarding2{
  position: absolute;
  left: 4dvw;
  top: 33vh;
  width: 15dvw;
}

.onboarding3{
  position: absolute;
  left: 4dvw;
  bottom: 5dvh;
  width: 12dvw;
}

/*random knap*/
#random{
  position: absolute;
  top: 12dvw;
  right: 8dvw;

  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#FC7704, #FC7704, #FC7704, #D46200);
  border-radius: 20px;
  padding: 8px;
  overflow: visible;
  cursor: pointer;

  color: #BFEAED;
}

.toj_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1dvw;
  height: fit-content;
}

/* små ikoner*/
.small_icons{
  width: 2dvw;
}


/*selve outfit generatoren*/
#outfit-generator{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1dvw;


  width: 100%;
  padding: 0px 0px;

}

#outfit-generator img{
  cursor: pointer;
  border-radius: 50%;
  overflow: visible;

  transition: all 1s ease-in-out;
  object-fit: contain;
  aspect-ratio: 1/1;

  background-size: 0% 0%;
  background-position: center;
  border-radius: 50%;
  scale: 1;
  
}

.toj{
height: 20dvh;
}

.lille_toj{
  height: 10dvh;
}

#outfit-generator img:hover{
	animation: gradient 12s ease infinite;
  background: linear-gradient( -45deg, #DDC7C9, #BDD8DD, #F99E38);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  scale: 1.1;
  
  
  overflow: visible;
}

@keyframes gradient {
	0% {
    border-radius: 30% 70% 70% 30% / 30% 70% 30% 70% ;
	}
	25% {
    border-radius: 73% 27% 78% 22% / 89% 70% 30% 11% ;
	}
  75% {
    border-radius: 89% 11% 48% 52% / 15% 85% 15% 85% ;
	}
	100% {
    border-radius: 30% 70% 70% 30% / 30% 70% 30% 70%  ;
	}
}

/*----------------------------------------Paa tur------------------------------------------------*/

/*når brødteksten er i højre side*/
.paatur_body{
  background-color: var(--sand);
  width: 100%;

}

.paatur_body main{
  background-color: var(--sand);
}



.paatur_tyskland_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: auto;
}

.paatur_tyskland_wrapper1{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  width: 90%;
  height: auto;
}

.paatur_tyskland_wrapper div{
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.paatur_tyskland_wrapper div div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.paaturheader {
  width: 50vw;
  height: auto;
  display: flex;
  position: absolute;
  left: 30%;
  top: 15%;
}
#shoppinghero {
  font-size: 8vw;
  color: #322D2A;
  width: 60vw;
}

#turentil {
  font-size: 3.2rem;
  padding-right: 15vw;
  padding-top: 5vw;
  color: #A2E1E4
}

#tyskland {
  font-size: 8rem;
  padding-left: 30vw;
  justify-content: flex-end;
  color: #A2E1E4;
}

.tursektion1 {
  display: flex;
  width: 90vw;
  margin-top: 20px;
}

.tursektion1 svg {
  width: 50vw;
}

.turtekst1 p {
  width: 30vw;
  padding-left: -20vw;

}


#paatur_varevogn{
  position: relative;
  width: 50dvw;
  float: left;
  transform: translateY(-36%);
}

/* Animation til varevogn */ 

@media(prefers-reduced-motion) {
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 2s;
    transform: translateX(-100%);
  }
  
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
}



.paatur_polaroids{
  width: 25dvw;
}

.paatur_billeder_ovenpå_hinanden{
  position: relative;
}

/*  vej med bil*/
#paatur_vej{
  position: absolute;
  right: 2dvw;
  top: 300px;

  height: 390vh;
  width: 2dvw;
  z-index: 5;

  background-color: gray;
}

#striberpaavej {
  position: absolute;
  right: 3dvw;
  top: 300px;
  z-index: 6;
  height: 390vh;
  border-left: 3px dashed white;

}

#paatur_bil_scroll{
  position: fixed;
  right: 3dvw;
  top: 300px;

  width: 40px;
  rotate: -90deg;
  z-index: 6;
}

.turbutikken {
  position: absolute;
  right: 1dvw;
  top: 213px;
  z-index: 4;
}

.turbutikkenhjem {
  position: absolute;
  right: 1dvw;
  top: 3650px;
  z-index: 4;

}

.tree {
  rotate: -90deg;
  z-index: 10;
}

#tree1 {
  position: absolute;
  right: 4.9dvw;
  top: 400px;
  z-index: 4;
}
#tree2 {
  position: absolute;
  right: 4.9dvw;
  top: 1650px;
  z-index: 4;
}
#tree3 {
  position: absolute;
  right: 4.9dvw;
  top: 2600px;
  z-index: 4;
}
#tree4 {
  position: absolute;
  right: 4.9dvw;
  top: 1500px;
  z-index: 4;
}
#tree5 {
  position: absolute;
  right: 4.9dvw;
  top: 3200px;
  z-index: 4;
}

.polsevogn {
  display: flex;
  width: 2vw;
  overflow: hidden;
}

.polsevogn img {
  position: absolute;
  right: 3.5dvw;
  top: 1800px;
  rotate: -90deg;
  width: 5vw;
  color: var(--orange);
}

.hamborgby {
  display: flex;
  width: 2vw;
  overflow: hidden;
}

.hamborgby img {
  position: absolute;
  right: -6.2dvw;
  top: 1200px;
  rotate: -90deg;
  width: 30vw;
}

.varehus {
  display: flex;
  width: 2vw;
  overflow: hidden;
}

.varehus img {
  position: absolute;
  right: 3.5dvw;
  top: 2500px;
  rotate: -90deg;
  width: 5vw;
}

/* Hamborg afsnit */

#hamborgheader {
  font-size: 6vw;
  text-align: left;
  color: #A2E1E4;
  padding-left: -2vw;
}

#hamborgtekst {
  width: 30vw;
}

.paatur_tyskland_wrappers_wrapper {
  padding-left: 10vw;

}


/* PITSTOP */

.pitstop {
  display: flex;
  flex-direction: row;
  height: 60vh;
}

.pitstopheader {
  font-size: 6vw;
  line-height: 80px;
  padding-bottom: 6vh;
}

.pitstopbilleder {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
}

.pitstoptekst {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: flex-start;
  text-align: left;
}
#pitstopbrod {
  width: 30vw;
}

.pitstoppola {
  transform: translateY(-36%);
  padding-left: 10vw;
}

.polser {
  transform: translateY(-150%);
  padding-left: 25vw;
}



/* billeder der stables ovenpåå hinanden*/

#paatur_polaroid2{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* KILO SALE */
.turtekst2 {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-top: 20px;
  padding-left: 11vw;
}

.kilosalewrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.kilpola {
  flex-direction: column;
}

.kilosaleheader {
  font-size: 6vw;
  padding-bottom: 6vh;
  line-height: 80px;
}

.browse {
  width: 32vw;
  transform: translateY(-35%);
  z-index: 5;
}

.pakkebil {
  transform: translateX(50%);
  z-index: 6;
}

/* HJEMAD */

.hjemadwrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

}

.turtekst3 {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin-top: 20px;
  padding-left: 11vw;
}

.hjemheader {
  font-size: 6vw;
  padding-bottom: 6vh;
  line-height: 80px;
}

.hjemtekst {
  width: 30vw;
}

.hjempola {
  transform: translateX(50%);
  transform: translateY(50%);
}

.hjemsvg {
  position: absolute;
  left: 30%;
  top: 400%;
}

.hjemsvg svg {
  width: 15vw;
  height: auto;
}

.motorvej {
  display: flex;
  width: 2vw;
  overflow: hidden;
}

.motorvej img {
  position: absolute;
  right: 2.4dvw;
  top: 800px;
  rotate: -90deg;
  width: 10vw;
}




/*-------------------------------------------------Bar---------------------------------------------------- */

/* -----baggrund -----*/

#baroverskrift {
  color: var(--orange);
  position: relative;
  align-self: center;
}

.barbody {
  overflow: hidden;
}

.barbaggrund {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background-color: var(--lysturkis);
  z-index: -1;
  overflow: hidden;
}
.fliser {
  height: 70vh;
}
.fliser img {
  align-self: baseline;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.barelements {
  z-index: 2;
}
.skranke {
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 70%;
  z-index: 2;
  overflow: hidden;
}
.skranke img {
  width: 100vw;
  height: auto;
}

.ol {
  width: 1vw;
  height: auto;
  position: absolute;
  left: 12%;
  top: 57%;
  z-index: 2;
}
.ol img {
  width: 8vw;
  height: auto;
}

.barbillede {
  width: 10vw;
  height: auto;
  position: absolute;
  height: auto;
  left: 22%;
  top: 83%;
  z-index: 2;
}

.barbillede img  {
  width: 12vw;
  height: auto;
}

.barsscreen {
    position: absolute;
    height: auto;
    left: 45%;
    top: 68%;
    z-index: 2;
  }

  .barsscreen img {
    width: 13vw;
    height: auto;
  }

.businesscards {
  position: absolute;
    height: auto;
    left: 50%;
    top: 90%;
    z-index: 2;
}
.businesscards img {
  width: 16vw;
  height: auto;
}

.gavekort {
  position: absolute;
    height: auto;
    left: 64%;
    top: 93%;
    z-index: 2;
}

.gavekort img {
  width: 9vw;
  height: auto;
}


.artby {
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  position: absolute;
  left: 75%;
  top: 84.5%;
  z-index: 2;
}

#bar_artbymaria {
  width: 6vw;
  height: auto;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  flex-direction: row;
  position: absolute;
  left: 80%;
  top: 80%;
  z-index: 111;
  cursor: pointer;
  /* animaiton */
  transition: all 1s ease-in-out;
}
.barkopper {
  height: 8vh;
  width: 6vw;
  z-index: 2;
}


.barplante {
  position: absolute;
    height: auto;
    left: 82%;
    top: 56%;
    z-index: 2;
}
.barplante img {
  width: 12vw; 
  height: auto;
}

.køleskab {
  position: absolute;
  height: auto;
  left: 1%;
  top: 18%;
  z-index: 0;
}

.koleskab img {
  position: absolute;
  width: 22vw;
  height: auto;
  left: 1%;
  top: 18%;
}

.barskilt img {
  position: absolute;
  height: auto;
  left: 23%;
  top: 20%;
  z-index: 0;
  width: 14vw;
  height: auto;
}

#olpriser {
  position: absolute;
  height: auto;
  left: 38%;
  top: 20%;
  z-index: 0;
  width: 17vw;
  height: auto;
  cursor: pointer;
    /* animaiton */
    transition: all 1s ease-in-out;
}

#kaffepriser {
  position: absolute;
  height: auto;
  left: 60%;
  top: 20%;
  z-index: 0;
  width: 17vw;
  height: auto;
  cursor: pointer;
    /* animaiton */
    transition: all 1s ease-in-out;
}

/*zoom*/
#bar-zoom{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

  width: 35dvw;

  /* animaiton */
  transition: all 1s ease-in-out;
}

.vindue {
  width: 5vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);;
  border-left: solid 1vw #794A3A;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.kaffebar {
  position: absolute;
  top: 46%;
  left: 20%;
  z-index: 1;
}

.kaffebar img {
  width: 20vw;
  z-index: 1;
}




/*------------------------------------------Vores værdier--------------------------------------------*/
.vardier_butik{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: absolute;
  top: 0px;
  left: 0px;
}

.vardier_overskrift{
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 2dvw;
}

.vardier_underoverskrift{
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;

  font-size: 1dvw;
}

.vardier_tekst1{
  position: absolute;
  top: 17%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 15dvw;
}

.vardier_tekst2{
  position: absolute;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 15dvw;
}

.vardier_tekst3{
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 15dvw;
}

.vardier_tekst4{
  position: absolute;
  top: 50%;
  left: 12%;
  transform: translate(-50%, -50%);
  width: 15dvw;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;

}



#vardier_forhæng{
  position: absolute;
  top: 56%;
  left: 15%;
  transform: translate(-50%, -50%);

  height: 70dvh;
  width: 25dvw;
}

#vardier_toj1_1{
  position: absolute;
  top: 17%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
}

/*tøj*/
#vardier_toj1_2{
  position: absolute;
  top: 17%;
  left: 60%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
  width: 16dvw;
}

#vardier_toj1_3{
  position: absolute;
  top: 17%;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
}

#vardier_toj2_1{
  position: absolute;
  top: 43.5%;
  left: 41%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
  width: 16dvw;
}

#vardier_toj2_2{
  position: absolute;
  top: 43.5%;
  left: 65%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  width: 16dvw;
  z-index: 111;
}

#vardier_toj2_3{
  position: absolute;
  top: 43.5%;
  left: 80%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
}

#vardier_toj3_1{
  position: absolute;
  top: 74%;
  left: 55%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
  width: 16dvw;
}

#vardier_toj3_2{
  position: absolute;
  top: 74%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 13dvw;
  z-index: 111;
  width: 16dvw;
}




/*------------------------------------------404-side--------------------------------------------*/
.not_bord{
position: absolute;
bottom: 0px;
left: 0px;
}

#not_ol{
  z-index: 111;
  width: 6dvw;

  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not_fustage_wrapper{
  position: absolute;
  z-index: 222;
  bottom: 10%;
  left: 22%;


  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  height: fit-content;
}

.not_fustage_inner_wrapper{
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  height: fit-content;
  width: fit-content;
}

#fustage{
  z-index: 222;
  bottom: 10%;
  left: 31.5%;

  width: 30dvw;
}

#tap{
  position: absolute;

  bottom: 88%;
  right: 2%;
  height: fit-content;
  width: 3dvw;
}

#not_tekst{
  position: absolute;
  top: 18%;
  left: 68%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:max-content;
  font-size: 2dvw;
}

#not_overskrift{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width:max-content;
}


#not_vaske{
  background-color: #FAC900;
  position: absolute;
  left: 49.9%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 150;

  width: 0.6dvw;
  height: 2dvw;
}


/*-------------------------------------------------Mød Os---------------------------------------------------- */

/* -----baggrund -----*/


.modos-bagrund {
  background-color: var(--turkis);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}


.ramme-gitter {
  width: 100vw;
  height: 100vh;
}

.ramme-bord {
  position: absolute;
  top: 50%;
  left: -15%;
  width: 120vw;
  height: 75vh;
}

/* -----Billedramme -----*/



.skygge img {
  position: absolute;
  top: 67.8vh;
  left: 79.8vw;
  width: 11vw;
  height: 28vh;
}

/* -----Billederamme-content -----*/

.modos {
  color: var(--orange);
  font-family: "Spicy Rice", serif;;
  font-weight: 300;
  font-size: 8vw;
  position: absolute;
  left: 45%;
  top: 10%;
  z-index: 10;
}

.ramme-hello img {
  position: absolute;
  width: 68vw;
  height: auto;
  z-index: 5;
}


.kortestreger {
  position: absolute;
  right: -25%;
  top: 90%;
}
.kortestreger img {
  z-index: 8;
  width: 20vw;
  height: auto;
  z-index: 4;
}

p {
  font-family: "Roboto", sans-serif;
  z-index: 7;
}

.ramme-hej {
  color: #68C7C1;
  font-family: "Paytone One", sans-serif;
  font-size: 9rem;
  z-index: 8;
  position: absolute;
  left: 5%;
  top: 68%;
  font-weight: 400;
}

.ramme-vi-er {
  color: #794A3A;
  font-family: "Paytone One", sans-serif;
  font-size: 1.6vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 96%;
  font-weight: 400;
}

.ramme-duo {
  color: black;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 104%;
  font-weight: 100;
  width: 30vw;
  line-height: 30px;
}

.godmorgenpola img {
  position: absolute;
  left: 60%;
  top: 100%;
  width: 30vw;
  height: auto;
}

.bondeheader {
  color: var(--orange);
  font-family: "Paytone One", sans-serif;
  font-size: 3.8vw;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 160%;
  font-weight: 400;
}

.smilepole img {
  position: absolute;
  left: 75%;
  top: 165%;
  width: 20vw;
  height: auto;
}

.bondetekst {
  color: black;
  z-index: 8;
  position: absolute;
  left: 6.5%;
  top: 175%;
  font-weight: 200;
  width: 26vw;
  line-height: 30px;
}

.sludder {
  color: #794A3A;
  font-family: "Paytone One", sans-serif;
  font-size: 4vw;
  z-index: 8;
  position: absolute;
  left: 50%;
  top: 230%;
  font-weight: 400;
  width: 30vw;
}

.hyggeibar {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.hyggeibar img {
  position: absolute;
  left: 0%;
  top: 230%;
  width: 25vw;
  height: auto;
  z-index: 6;
  
}

.sluddertekst {
  color: black;
  z-index: 8;
  position: absolute;
  left: 50%;
  top: 260%;
  font-weight: 200;
  width: 25vw;
  line-height: 30px;
}



.langestreger img {
  position: absolute;
  top: 215%;
  left: 0;
  width: 10vw;
  height: auto;
  z-index: 5;
}


.ramme-hello {
  position: absolute;
  top: -24.5%;
  left: -20%;
  height: auto;
}

.ramme-hello img {
  width: 63.6vw;
  height: auto;
}

.billederamme-container {
  background-color: var(--sand);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 54vw;
  height: auto;
  top: 12.4%;
  left: 23%;
  overflow: scroll;
  justify-content: space-between;
  outline: 20px solid black;
}

.relativramme {
  background-color: var(--sand);
  position: relative;
  width: 48vw;
  height: 75vh;
}

.modos {
  position: absolute;
  top: 3%;
  left: 38%;
  font-size: 5.5rem;
  overflow: hidden;
}

.modosbody {
  overflow: hidden;
}



/*------------------
-------Footer-------
----------------- */


/*------------------
---Media queries----
----------------- */

/* tablet */
@media only screen and (max-width: 800px) {
  /*------------------
  ------Forside-------
  ----------------- */

  /* her ændres baggrundsgitteret så det passer på telefonen*/
  #gitter{
    height: 100dvh;
  }

  .computer_wrapper_animation{
    top: 50%;
  }

  /*---------------------------
  ------Outfit-generator-------
  -------------------------- */

  #outfit-generator img:hover{
    animation: none;
    background: transparent;
    scale: 1;
    overflow: visible;
  }
  
}

@media only screen and (max-width: 600px) {
  /*------------------
  ------Forside-------
  ----------------- */

  .forside_body{
    background-color: var(--turkis);
    user-select: none;
    overflow: hidden;
  }
  /* her ændres baggrundsgitteret så det passer på telefonen*/
  #gitter{
    height: 100dvh;
  }

  /*zoom*/
  #forside-zoom{
    width: 95dvw;
  }

  /*kork brættet i baggrunden*/
.kork{
  top: 40%;
  left: 82%;

  scale: 2;
}

#plakat {
display: none;
}

#skilt {
  width: 40dvw;
  top: 60%;
}

#abningstider{
  width: 35dvw;
  left: 60%;
  top: 51%;
}

.forside_some {
  top: 77%;
  right: 10%;
  width: fit-content;
  scale: 3;
}

#hylde{
  display: none;
}
  

  /*Så computeren passer på alle skærmstørrelser*/
  .computer_wrapper{
      display: none;
  } 

  /* bord*/
  #bord {
    left: 50%;
    transform: translateX(-50%);
    width: 200dvw;
    height: 20dvh;
  }

  #portrat {
    width: 30dvw;
    bottom: 15%;
    right: 60%;
  }

  #grammofon {
    display: none;
  }

  .computer_wrapper {
    scale: 2;
  }

  #blyanter {
    display: none;
  }

  #lookbook {
    width: 30dvw;
    top: 87%;
    left: 20%;
  }

  #navneskilt {
  width: 25dvw;
  bottom: 5%;
  right: 5%;
  }


  /*------------------
  ---Outfit generator--
  ----------------- */
  #random{
    top: 30%;
    right: 5dvw;
  }

  #total-pris{
    right: 2dvw;
    bottom: 20dvw;
    padding: 20px 10px;
  }

  .small_icons{
    width: 4dvw;
  }

  .toj {
    height: 15dvh;
  }
  
  .lille_toj {
    height: 7dvh;
  }

  .toj_wrapper {
  gap: 0dvw;
  }

  .onboarding3 {
    position: absolute;
    left: 1.5dvw;
    bottom: 10dvh;
    width: 20dvw;
}

#outfit-generator img:hover{
	animation: none;
  background: transparent;
  scale: 1;
  overflow: visible;
}

/*  ----------------
----PÅ TUR SIDEN ---
 -----------------*/


 #shoppinghero {
  left: 38%;
  text-align: center;
  font-size: 16vw;
  width: 90vw;
  padding-left: 0vw;
}

#turentil {
  padding-top: 10vh;
  font-size: 8vw;
}

#tyskland {
  font-size: 10vw;
}

.broedtekst {
  line-height: 2vh;
  font-size: 4.5vw;
}

.tursektion1 {
  flex-direction: column;
}
.turtekst1 p {
  position: absolute;
  top: 75%;
  width: 80vw;
  padding-left: 10vw;
}

.paatur_tyskland_wrapper div {
  flex-direction: column;
}

/* Hamborg SEKTION */ 

#hamborgheader {
  font-size: 10vw;
  padding-bottom: 2vh;
}

#hamborgtekst {
  width: 80vw;
}

#hamborgbilled {
  left: 0%;
}
#hamborgbilled {
  align-items: flex-end;
  justify-content: center;
}

.paatur_polaroids {
  width: 50vw;
}

/* PITSSTOP SEKTION */ 

.pitstoppola {
  transform: translateY(90%);
}
.polser {
  transform: translateY(120%);
}

.polser img {
  width: 30vw;
}

.pitstoptekst {
  transform: translateY(-180%);
  padding-left: 10vw;
}

.pitstopheader {
  padding-bottom: 0;
  font-size: 9vw;
}

#pitstopbrod {
  width: 80vw;
}

/* KILO SALE */

.turtekst2 {
  width: 80vw;
}

#kilotekst {
  width: 80vw;
}

.kilosaleheader {
  font-size: 10vw;
  line-height: 4vh;
  padding-bottom: 2vh;
}

.kilopola {
  position: absolute;
  left: 5%;
  top: 320%;
}

/* HJEMAD */

.hjemadwrapper {
  flex-direction: column;
}

.turtekst3 {
  width: 80vw;
  padding-left: 0;
}

.hjemheader {
  line-height: 4vh;
  padding-bottom: 2vh;
  font-size: 9vw;
}

.hjemtekst {
  width: 80vw;
}

.hjempola {
  transform: translateY(10%);
}

#paatur_vej {
  height: 2800px;
  width: 4vw;
  right: 0;
}

#striberpaavej {
  height: 2800px;
  right: 1.8dvw;
}

#paatur_bil_scroll {
  right: 3vw;
  width: 8vw;
}

.tree img {
  width: 4vw;
}

#tree5 {
  top: 2800px;
}

.turbutikken {
  right: -2vw;
  transform: translateY(30%);
}

.turbutikken img {
  width: 16vw;
}

.motorvej img {
  top: 1100px;
}

.polsevogn img {
  width: 12vw;
  right: 2.5dvw;
}

.varehus img {
  width: 14vw;
}

.turbutikkenhjem {
  right: -2vw;
  transform: translateY(30%);
  top: 3075px;
}

.turbutikkenhjem img {
  width: 16vw;
}

.hjemsvg {
display: none;
}

/*------------------
-------vardier------
----------------- */
#vardier_toj1_1 {
  display: none;
  }

#vardier_toj1_2 {
    height: 26%;
    width: 50%;
  }

#vardier_toj1_3 {
  display: none;
  }

#vardier_toj2_1 {
  display: none;
  }

#vardier_toj2_2 {
  height: 26%;
  width: 32dvw;
  }

#vardier_toj2_3 {
  display: none;
  }

#vardier_toj3_1 {
  display: none;
  }

#vardier_toj3_2 {
  left: 60%;
  height: 26%;
  width: 32dvw;
  }

.vardier_broedtekst{
  font-size: 2dvw;
}

.vardier_overskrift{
  font-size: 4dvw;
}

.vardier_underoverskrift{
  font-size: 2dvw;
}

/*------------------
---------loading--------
----------------- */
#vardier_toj1_1 {
  display: none;
  }

/*------------------
-------404------
----------------- */

#not_overskrift {
  top: 15%;
}

#vardier_toj1_1 {
  display: none;
  }

#fustage {
    z-index: 222;
    bottom: 10%;
    left: 31.5%;
    height: 30%;
    width: 30dvw;
}

.not_fustage_wrapper {
  top: 50%;
  left: 9%;
  scale: 2;
}

#not_ol{
  scale: 2.5;
  top: 80%;
  left: 55%;
}

#not_tekst {
  top: 42%;
  left: 75%;
}

#not_vaske {
scale: 2.5;
}

.not_bord {
  position: absolute;
  bottom: 0%;
  left: -80%;
  height: 30%;
}

#tap{
  bottom: 45%;
}



/*  ----------------
----MØD OS SIDE ---
 -----------------*/

 .modosbody, .modoshtml, .modos-bagrund {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.skygge {
  display: none;
}



 .ramme-bord {
  position: absolute;
  top: 60%;
  left: -10%;
  width: 112vw;
  height: 41vh;
  overflow: hidden;
  z-index: 0;
  object-fit: cover;
}



.modos {
  font-size: 16vw;
  left: 25%;
}

.ramme-hej {
  top: 64%;
  font-size: 28vw;
}

.ramme-vi-er {
  font-size: 6vw;
  top: 93%;
  padding-bottom: 4vh;
}

.godmorgenpola {
  position: absolute;
  top: 170%;
  left: 30%;
  rotate: -360deg;
}



 .billederamme-container {
  background-color: var(--sand);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 91vw;
  height: 54vh;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  justify-content: space-between;
  scale: 0.9;
}


.billederamme {
  float: left;
}

.billederamme img {
  top: 20%;
  left: -25vw;
  rotate: 90deg;
  width: 145%;
}

.ramme-hello {
  position: absolute;
  top: -17.5%;
  left: -35%;
  height: 140vh;
  width: 200vw;
  overflow: hidden;

}

.ramme-hello img {
  width: 150vw;
  height: auto;
  rotate: 360deg;
  object-fit: cover;
}

.relativramme {
  background-color: var(--sand);
  position: relative;
  width: 92.5vw;
  height: 200vh;


}

.ramme-vi-er, .ramme-duo, .bondetekst, .sluddertekst {
  width: 80vw;
  left: 5%;
  line-height: 1.5em;
}

.godmorgenpola img {
  width: 80vw;
  rotate: 360deg;
}

.smilepole img, .hyggeibar img {
  width: 80vw;
  rotate: 360deg;
}

.ramme-gitter{
  width: 300vw;
}

.bondeheader {
  font-size: 10vw;
  z-index: 10;
  left: 5%;
  top: 250%;
  width: 80vw;
}

.bondetekst {
  top: 265%;
}

.smilepole {
  position: absolute;
  top: 330%;
  left: 30%;
  rotate: -360deg;
  z-index: 2;
}

.hyggeibar {
  position: absolute;
  top: 490%;
  left: 30%;
  rotate: -360deg;
  z-index: 2;
}

.sludder {
  font-size: 10vw;
  left: 5%;
  width: 80vw;
  top: 430%;
}

.sluddertekst {
  top: 455%;
}

.langestreger img {
  rotate: -360deg;
  left: -8%;
  top: 480.5%;
  z-index: 1;
  width: 30vw;
  height: 60vh;
}

.kortestreger {
  top: 83%;
  right: -1%;
  width: 40%;
  height: 40vw;
  overflow: hidden;


}

.kortestreger img {
  left: 20%;
  top: 0;
  width: 40vw;
  rotate: 360deg;
}


/* -------------
-----BAR SIDE---
-------------*/


#baroverskrift {
  font-size: 12vw;
  top: 12%;
 }
 
 
 .skranke {
  width: 100vh;
  height: 40vh;
  overflow: hidden;
 }
 .fliser {
  height: 170vh;
  width: 290vw;
  top: 20%;
 }
 
 
 .fliser img {
  height: 80vh;
  object-fit: cover;
 }
 
 
 .skranke img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 75%;
  object-fit: cover;
 }
 
 
 .koleskab img {
  transform: scalex(-1);
  width: 40vw;
  top: 50%;
  left: -10%;
 }
 
 
 #olpriser {
  width: 40vw;
  left: 5%;
 }
 
 
 #kaffepriser {
  width: 40vw;
  left: 50%;
 }
 
 
 .barskilt img{
  width: 30vw;
  top: 41%;
  left: 65%;
  z-index: 5;
  rotate: 15deg;
 }
 
 
 .gavekort {
  left: 35%;
  top: 88.5%;
 }
 
 
 .gavekort img {
  width: 35vw;
 }
 
 
 .businesscards {
  left: -25%;
  top: 85%;
 }
 
 
 .businesscards img {
  width: 65vw;
 }
 
 
 .barkopper {
  width: 20vw;
  left: 70%;
  z-index: 3;
 }
 
 
 
 
 .barplante {
  display: none;
 }
 
 
 .barbillede {
  left: 0%;
  top: 75%;
 }
 
 
 .barbillede img {
  width: 30vw;
 }
 
 
 .barsscreen {
  display: none;
 }
 
 
 .ol {
  top: 65%;
  left: 38%;
 }
 .ol img {
  width: 20vw;
 }
 
 
 #bar_artbymaria {
  width: 20vw;
  z-index: 1;
  top: 78%;
  left: 80%;
  z-index: 2;
 }
 
 
 .kaffebar {
  top: 60%;
  left: 53%;
  z-index: 1;
 }
 
 
 .kaffebar img {
  width: 50vw;
  z-index: 1;
  height: auto;
 }
 
 #bar-zoom{
  width: 80dvw;
}

.broedtekst {
  line-height: 2vh;
  font-size: 4.5vw;
}

}



